{% extends 'base.html' %}
{% block content %}

<h1 class="indigo-text text-lighten-2">Welcome to <span class="indigo-text text-darken-3" style="text-decoration: underline;">Finch Finder</span></h1>
<h2 class="indigo-text text-lighten-2">Track your birding experience.</h2>

{% if user.is_authenticated %}

    <div class="row">
            <a href="{% url 'locations_index' %}">
                <div class="col s12 m5">
                    <div class="card extra-small horizontal hoverable">
                        <div class="card-stacked">
                            <div class="card-content" style="padding:1rem; overflow:hidden">
                                <h5 class="header">See your locations</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{% url 'birds_index' %}">
                <div class="col s12 m5">
                    <div class="card extra-small horizontal hoverable">
                        <div class="card-stacked">
                            <div class="card-content" style="padding:1rem; overflow:hidden">
                                <h5 class="header">See your birds</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    </div>

{% endif %}

{% endblock %}