body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

input[type=checkbox]:checked, input[type=checkbox]:not(:checked) {
    opacity: 1;
    pointer-events: all;
}

.crud-btn-container, .detail-card-container {
    margin: 20px 0; 
    display: flex; 
    flex-direction: column;
}

.crud-btn {
    margin: 10px;
    width: fit-content;
}

.card.extra-small {
    height: 150px;
}

.card-thumbnail {
    height: 150px;
    max-width: 100%;
}

@media (min-width: 600px) {
    .crud-btn-container {
        flex-direction: row;
    }

    .mobile-hr {
        display: none;
    }
}

@media (min-width: 768px) {
    .detail-card-container {
        flex-direction: row;
    }
}