{% extends 'base.html' %}
{% block content %}

<div class="row detail-card-container" style="display:flex">
    <div class="col s12 m6" style="margin: 3vw auto">
        <div class="card small">
            <div class="card-image">
                <img src="https://via.placeholder.com/250x250">
                <span class="card-title">{{ location.name }}</span>
            </div>
            <div class="card-content">
                <p>{{ location.description }}</p>
            </div>
        </div>
        <div class="row crud-btn-container">
            <a href="/locations/" class="btn crud-btn indigo accent-2">Go Back</a>
            <a href="{% url 'locations_update' location.id %}" class="btn crud-btn indigo accent-1">Edit</a>
            <a href="{% url 'locations_delete' location.id %}" class="btn crud-btn indigo accent-1">Delete</a>
        </div>
    </div>
</div>

<hr class="indigo" style="width:100%">

<div class="row detail-card-container" style="display:flex">
    <div class="col s12" style="margin: 3vw auto">
        <hr class="indigo mobile-hr" style="width:100%; margin: 30px 0;">
        <div class="row">
            <div class="col" style="width:100%;">
              <div class="card-panel">
                <h4 class="indigo-text text-lighten-1">Birds you've spotted here:</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Bird:</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bird in birds %}
                            {% if location in bird.locations.all %}
                                <tr>
                                    <td>{{ bird.name }}</td>
                                    <td>
                                        <a class="btn indigo accent-1" href="{% url 'birds_detail' bird.id %}">Details</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}