{% extends 'base.html' %}
{% block content %}

    <h1 class="indigo-text lighten-1">Your birding spots:</h1>

    <div class="row">
        {% for location in locations %}
            <a href="{% url 'locations_detail' location.id %}">
                <div class="col s12 m7 l6 xl4">
                    <div class="card extra-small horizontal hoverable">
                        <div class="card-image">
                            {% if location.locationphoto_set.all|length > 0 %}
                                <img class="card-thumbnail" src="{{ location.locationphoto_set.first.url }}">
                            {% endif %}
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" style="padding:1rem; overflow:hidden">
                                <h5 class="header black-text">{{ location.name }}</h5>
                                <p class="black-text">{{ location.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}