{% extends 'base.html' %}
{% block content %}

    <h1 class="indigo-text lighten-1">Your birding spots:</h1>

    <div class="row">
        {% for location in locations %}
        <a href="{% url 'locations_detail' location.id %}">
            <div class="card hoverable indigo-text col s12 m6 l4">
                <div class="card-content">
                    <h5 class="header">{{ location.name }}</h5>
                    <p>{{ location.description }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}