{% extends 'base.html' %}
{% block content %}

    <h1 class="indigo-text lighten-1">Your birding spots:</h1>

    <div class="row">
        {% for location in locations %}
            <a href="{% url 'locations_detail' location.id %}">
                <div class="col s12 m7 l6 xl4">
                    <div class="card extra-small hoverable">
                        <div class="card-content">
                            <h5 class="header">{{ location.name }}</h5>
                            <p>{{ location.description }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}