{% extends 'base.html' %}
{% block content %}

<div class="row detail-card-container" style="display:flex">
    <div class="col m12 l6" style="margin: 3vw auto">
        <div class="card">
            <div class="card-image">
                <img src="https://via.placeholder.com/250x250">
                <span class="card-title">{{ bird.name }}</span>
            </div>
            <div class="card-content">
                <span class="card-title">{{ bird.scientific_name }}</span>
            <div class="row">
                <div class="col s12">
                    {% if bird.invasive %}
                        <p style="color:red">Invasive</p>
                    {% else %}
                        <p style="color:green">Non-Invasive</p>
                    {% endif %}
                </div>
            </div>
                <p>{{ bird.description }}</p>
            </div>
        </div>
        <div class="row crud-btn-container">
            <a href="/birds/" class="btn crud-btn indigo accent-2">Go Back</a>
            <a href="{% url 'birds_update' bird.id %}" class="btn crud-btn indigo accent-1">Edit</a>
            <a href="{% url 'birds_delete' bird.id %}" class="btn crud-btn indigo accent-1">Delete</a>
        </div>
    </div>
    <hr class="indigo mobile-hr" style="width:100%">
    <div class="col m12 l6" style="margin: 3vw auto">
        <h3 class="indigo-text text-lighten-1">Add sightings:</h3>
        <form action="{% url 'add_sighting' bird.id %}" method="POST">
            {% csrf_token %}
            {{ sighting_form.as_p }}
            <button class="btn crud-btn indigo accent-1">Submit</button>
        </form>
        <hr class="indigo mobile-hr" style="width:100%; margin: 30px 0;">
        <div class="row">
            <div class="col" style="width:100%;">
              <div class="card-panel">
                <h4 class="indigo-text text-lighten-1">Sightings:</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Date:</th>
                            <th>Habitat:</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sighting in bird.sighting_set.all %}
                            <tr>
                                <td>{{ sighting.date }}</td>
                                <td>{{ sighting.get_habitat_display }}</td>
                                <td>
                                    <form action="{% url 'delete_sighting' bird.id sighting.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn crud-btn indigo accent-2">X</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
</div>

<hr class="indigo" style="width:100%">

<div class="row detail-card-container" style="display:flex">
    <div class="col m12 l6" style="margin: 3vw auto">
        <hr class="indigo mobile-hr" style="width:100%; margin: 30px 0;">
        <div class="row">
            <div class="col" style="width:100%;">
              <div class="card-panel">
                <h4 class="indigo-text text-lighten-1">Where you've spotted this bird:</h4>
                {% if bird.locations.count %}
                    <table>
                        <thead>
                            <tr>
                                <th>Location:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in bird.locations.all %}
                                <tr>
                                    <td>{{ location.name }}</td>
                                    <td>
                                        <a href="{% url 'locations_detail' location.id %}" class="btn crud-btn indigo accent-1">Details</a>
                                    </td>
                                    <td>
                                        <form action="{% url 'disassoc_location' bird.id location.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn crud-btn indigo accent-2">X</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No associated locations. Select from the right, or <a href="{% url 'locations_create' %}">create a new location</a>.</p>
                {% endif %}
              </div>
            </div>
        </div>
    </div>
    <div class="col m12 l6" style="margin: 3vw auto">
        <h3 class="indigo-text text-lighten-1">Add location:</h3>
        {% if bird.locations.count %}
        <p>or <a href="{% url 'locations_create' %}">create a new one</a>.</p>
        {% endif %}
        {% for location in locations %}
            <form action="{% url 'assoc_location' bird.id location.id %}" method="POST">
                {% csrf_token %}
                <div class="card hoverable indigo-text col s12">
                    <div class="card-content">
                        <h5 class="header">{{ location.name }}</h5>
                        <p>{{ location.description }}</p>
                    </div>
                    <button class="btn crud-btn indigo accent-1">Add this location</button>
                </div>
            </form>
        {% endfor %}
    </div>
</div>


<script>
    const dateEl = document.getElementById('id_date');
    const selectElOne = document.getElementById('id_habitat');
    
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true, 
        autoClose: true
    });
    
    M.FormSelect.init(selectElOne);
    
    document.addEventListener('DOMContentLoaded', function(e) {
        const selectionEls = document.querySelectorAll('.dropdown-content > li > span');
        selectionEls.forEach(function(el) {
            el.classList.add('indigo-text');
            el.classList.add('text-lighten-1');
        });
    });

</script>

{% endblock %}